<div class="frame" style="position: fixed;top:120px;left:270px;bottom:70px;right:20px;overflow-y: auto;">
    <form>
        <div class="lui-dialog" style="width: 50%;height:75%;overflow-y: auto;">
            <div class="lui-dialog__header">
                <div class="lui-dialog__title">Backup App</div>
            </div>
            <div class="lui-dialog__body">
                <h3 style="margin-top:0px;">{{model.thisRow[0]}}</h3>
                <p>will be backed up to the server. Please check the checkbox to download a zip archive of the backup.</p>
                <br>
                <div style="verticalAlign:middle;">
                    <label><input type="checkbox" id="checkZip" value="Download Zip" ng-click="model.checkZip()">&nbsp&nbsp&nbsp&nbspDownload Zip archive</label>
                </div>
                <div>
                    <p ng-show="model.zip">A zip archive will be created along with a server side copy of the serialized app.</p>
                </div>
                <!--<ul ng-repeat="folder in model.folders track by $index">
                <li>{{folder.id}}</li>
            </ul>-->
            </div>

            <div class="lui-dialog__footer">
                <input type="button" value="Cancel" class="lui-button lui-button--error" ng-click="model.cancel()">
                <input type="button" value="Backup" class="lui-button lui-button--success" ng-click="model.generateBackup()">
            </div>
        </div>
    </form>
</div>