<div class="frame" style="position: fixed;top:120px;left:270px;bottom:70px;right:20px;overflow-y: auto;">
    <div class="lui-dialog lui-dialog--inverse" style="width: 50%;height:50%;overflow-y: auto;">
        <div class="lui-dialog__header">
            <div class="lui-dialog__title">Restore App</div>
        </div>
        <div class="lui-dialog__body">
            <h3>{{model.thisRow[0]}}</h3>
            <p>will be restored to the Qlik Sense site as a new app in your my work area</p>
            <br>
            <div>
                <p>
                    You can choose to restore from the server back up of this app or upload a zip from your local that was backed up by sc-lite.
                </p>
            </div>
            <div style="verticalAlign:middle;">
                <form name="form" enctype="multipart/form-data" novalidate>
                    <label><input type="checkbox" id="checkUpload" value="Upload Upload" ng-click="model.checkUpload()">&nbsp&nbsp&nbsp&nbspUpload Zip archive</label>
                    <div>
                        <input style="display:inline" type="file" ng-show="model.boolUpload" ngf-select="model.selectFile($file)" name="fileRequested">
                        <input type="button" ng-show="model.boolUpload" class="lui-button lui-button--success" value="Upload File" ng-click="model.upload()" ng-class="model.fileSelected ? 'lui-button--success' : 'lui-button--success lui-disabled'">
                    </div>
                </form>
            </div>
        </div>
        <div class="lui-dialog__footer">
            <input type="button" value="Cancel" class="lui-button lui-button--error" ng-click="model.cancel()">
            <input type="button" value="Restore" class="lui-button lui-button--success" ng-click="model.generateRestore()">
        </div>
    </div>
    </div>
</div>